@import url('https://fonts.googleapis.com/css2?family=Raleway:wght@400;500;700&display=swap');

body{
    box-sizing: border-box;
    margin: 0 auto;
    padding: 0;
    width: 1440px;
    font-family: 'Raleway', sans-serif;
    color: black;
}

img{
    object-fit: cover;
}

li, a{
    text-decoration: none;
}

header{
    display: flex;
    justify-content: flex-end;
    align-items: center;
    padding: 50px 75px 48px 50px;
    margin-top: -20px;
}

/*-----------------------------NAVBAR-----------------------------------*/

.logo{
    margin-right: auto;
}

.nav_links{
    list-style: none;
}

.nav_links li{
    display: inline-block;
    padding: 0px 69px 0px 0px;
}

.nav_links li a{
    color: black;
    font-weight: 500;
    border-top: 3px solid transparent;
    padding-top: 43px;
}

.nav_links li a:hover{
    color:#0065FC;
    border-top: 3px solid #0065FC;
}

 
/*-----------------------------SEARCH-----------------------------------*/


h1{
    font-size: 21px;
    line-height: 1em;
    margin-top: 0;
}

.title{
    padding-left: 54px;
}
.subtitle{
    line-height: 0.5em;
    margin-bottom: 25px;
}

.search{
    padding-left: 52px;
}

form{
    display: flex;
    margin-top: 20px;
}
.fa-map-marker-alt{
    display: block;
    background-color:#F2F2F2;
    border: 0.5px solid #F2F2F2;
    border-bottom-left-radius: 15px;
    border-top-left-radius: 15px;
    padding: 16px 18px;
    cursor: pointer;
}

input{
    font-family: inherit;
    width: 217px;
    padding: 8px;
    border-style: solid none solid none;
    border-color: #F2F2F2;
}
 input::placeholder{
    color: black;
    font-weight: bold;
    font-size: 1em;
}

.search_button{
    color: white;
    background-color: #0065FC;
    font-weight: bold;
    font-family: inherit;
    font-size: 1em;
    letter-spacing: 0.5px;
    width: 121px;
    padding: 10px;
    border-left: none;
    border-color: transparent;
    border-bottom-right-radius: 15px;
    border-top-right-radius: 15px;
    text-decoration: none;
    cursor: pointer;
}

/*-----------------------------FILTERS-----------------------------------*/


.section_filters{
    margin-top: 20px;
}

.filters{
    display: flex;
    align-items: center;
    margin-bottom: 20px;
    padding-left: 60px;
}

#filters_title{
    margin-right: 30px;
}

.btn_filters{
    margin: 0 15px;
    cursor: pointer;
    font-family: inherit;
    font-weight: bold;
    font-size: 1em;
    background-color: white;
    border: 2px solid lightgray;
    border-radius: 50px;
    height: 45px;
    padding-right: 12px;
    transition: all 0.5ms ease-out;
}

.btn_filters:hover{
    color: white;
    background-color: #0065FC;
    border: 2px solid transparent;



}

.fa-money-bill-wave, .fa-child, .fa-heart, .fa-dog{
    color: #0065FC;
    border-radius: 100px;
    background-color: #DEEBFF;
    font-size: 1.2em;
    width: 20px;
    height: 20px;
    padding: 13px;
    margin-left: -15px;
    margin-right: 8px;
    margin-top: -2px;
}

.circle{
    width: 25px;
    height: 25px;
    margin-left: 56px;
    background-color: white;
    border-radius: 50px;
    border: 1px solid #F2F2F2;
    display: inline-block;
    text-align: center;
    vertical-align: middle;
    line-height: 25px;
    float: left;
    margin-right: 10px;
}

.fa-info{
    color:   #0065FC;
    line-height: inherit;
}

.info{
    position: relative;
    padding-top: 6px;
    font-size: 14px;
    font-weight: lighter;
}

/*-----------------------------HEBERGEMNTS--------------------------------*/


.main_container{
    padding-left: 50px;
    margin-top: 38px;
}

.accomodations{
    float: left;
    width: 880px;
    height: 625px;
    background-color: #F2F2F2;
    border-radius: 15px;
    margin-bottom: 35px;
}

h2{
    margin-top: 40px;
    padding-left: 40px;
    font-size: 21px;
    padding-bottom: 20px;
}

h2 .icon_chart{
    padding-left: 115px;
}

.grid_accomodations{
    padding-left: 40px;
    padding-right: 40px;
    margin-bottom: 5px;
    background-color: #F2F2F2;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    align-items: baseline;
}

.accomodations .link_bottom{
    padding-left: 40px;
}

.link-vignettes{
    width: 245px;
    height: 200px;
    margin-bottom: 30px;
}
.vignettes{
    width: 245px;
    height: 200px;
    background-color: white;
    border: 2px solid white;
    border-radius: 20px;
    margin-bottom: 30px;
    box-shadow: 1px 5px 10px rgba(0, 0, 0, 0.10);
}

.img_accomodations{
    width: 241px;
    height: 60%;
    border: 2px solid white;
    border-top-left-radius: 20px;
    border-top-right-radius: 20px;
    margin-bottom: 5px;
}

.vignettes_title{
    margin: 0;
    padding-left: 15px;
    color: black;
    padding-bottom: 5px;
}

.vignettes_text{
    margin: 0;
    padding-left: 15px;
    color: black;
    font-size: 14px;
    padding-bottom: 5px;
}

.vignettes .fa-star:first-of-type{
    padding-left: 15px;
}

.fa-star{
    color:#0065FC;
}

.vignettes:nth-of-type(1) .fa-star:last-of-type{
    color: #F2F2F2;
}

.link_bottom{
    margin-top: 0;
    color: black;
}

/*-----------------------------POPULAIRES---------------------------------*/


.populars{
    float: right;
    width: 420px;
    height: 625px;
    background-color: #F2F2F2;
    border-radius: 15px;
    margin-right: 50px;
    margin-bottom: 35px;
}

.grid-populars{
    margin-left: 40px;
}

.vignettes_1{
    position: relative;
    width: 342px;
    height: 142px;
    border: 2px solid white;
    border-radius: 20px;
    background-color: white;
    margin: 0px auto 30px auto;
    box-shadow: 1px 5px 10px rgba(0, 0, 0, 0.10);

}

.img_populars{
    width: 40%;
    height: 100%;
    border: 2px solid white;
    border-top-left-radius: 20px;
    border-bottom-left-radius: 20px;
    float: left;
    margin-right: 15px;
}

.vignettes_title1{
    color: black;
    line-height: 1em;
    margin-bottom: 0;
}

.vignettes_text1{
    color: black;
    font-size: 14px;
    line-height: 1em;
    margin-top: 10px;
}

.icons_populars{
    position: absolute;
    bottom: 10px;
    margin-left: 155px;
}

/*-----------------------------ACTIVITES-----------------------------------*/

.secondary_container{
    clear: both;
    position: relative;
    margin-left: 50px;
    margin-right: 75px;
    margin-top: 35px;
    padding-bottom: 35px;
    height: 490px;
    background-color: white;
}

.link-activities{
    width: 300px;
    margin-right: 40px;
    margin-bottom: 0;
}

.activities_title{
    padding-left: 0;
}

.grid_activities{
    width: 100%;
    height: 90%;
    display: flex;
}

.grid_items1{
    width: 300px;
    height: 100%;
    border-radius: 20px;
    box-shadow: 1px 5px 10px rgba(0, 0, 0, 0.10);
    margin-right: 40px;
}

.vieux-port{
    width: 100%;
    height: 90%;
    border-top-left-radius: 20px;
    border-top-right-radius: 20px;
}

.column1{
    width: 300px;
    margin-right: 40px;
}

.grid_items2{
    width: 300px;
    height: 50%;
    border-radius: 20px;
    box-shadow: 1px 5px 10px rgba(0, 0, 0, 0.10);
    margin-right: 40px;
    margin-bottom: 40px;
}

.pomegues{
    width: 100%;
    height: 80%;
    border-top-left-radius: 20px;
    border-top-right-radius: 20px;
}

.grid_items3{
    width: 300px;
    height: 40%;
    border-radius: 20px;
    box-shadow: 1px 5px 10px rgba(0, 0, 0, 0.10);
    margin-right: 40px;
    margin-top: -17px;
}

.frioul{
    width: 100%;
    height: 75%;
    border-top-left-radius: 20px;
    border-top-right-radius: 20px;
}

.grid_items4{
    width: 300px;
    height: 100%;
    border-radius: 20px;
    box-shadow: 1px 5px 10px rgba(0, 0, 0, 0.10);
    margin-right: 40px;

}

.calanques{
    width: 100%;
    height: 90%;
    border-top-left-radius: 20px;
    border-top-right-radius: 20px;
}

.grid_items5{
    width: 300px;
    height: 40%;
    border-radius: 20px;
    box-shadow: 1px 5px 10px rgba(0, 0, 0, 0.10);
    margin-bottom: 40px;
}

.notre-dame{
    width: 100%;
    height: 75%;
    border-top-left-radius: 20px;
    border-top-right-radius: 20px;
}

.grid_items6{
    width: 300px;
    height: 50%;
    border-radius: 20px;
    box-shadow: 1px 5px 10px rgba(0, 0, 0, 0.10);
    margin-top: -17px;
}

.longchamp{
    width: 100%;
    height: 80%;
    border-top-left-radius: 20px;
    border-top-right-radius: 20px;
}

.vignettes_title2{
    color: black;
    padding-left: 15px;
    margin-top: 8px;
}

/*-----------------------------FOOTER-----------------------------------*/

footer{
    width: 100%;
    height: 225px;
    background-color: #F2F2F2;
    margin-top: 50px;
    display: flex;
}

 .footer_1{
    display: flex;
    flex-direction: column;
    padding-left: 50px;
    padding-right: 230px;
 }

 .footer_2{
    display: flex;
    flex-direction: column;
    padding-right: 280px;
 }

 .footer_3{
    display: flex;
    flex-direction: column;
 }

 footer a{
     color: black;
     font-size: 16px;
     font-weight: 500;
     padding-bottom: 10px;
 }

 h5{
    font-size: 18px;
    margin-top: 50px;
 }