@import url('https://fonts.googleapis.com/css2?family=Raleway:wght@400;500;700&display=swap');

body{
    box-sizing: border-box;
    margin: 0 auto;
    padding: 0;
    max-width: 1440px;
    font-family: 'Raleway', sans-serif;
    color: black;
}

img{
    object-fit: cover;
}

li, a{
    text-decoration: none;
}

header{
    display: flex;
    justify-content: flex-end;
    align-items: center;
    padding: 50px 75px 48px 50px;
    margin-top: -20px;
}

h4{
    color: black;
}

/*-----------------------------NAVBAR-----------------------------------*/

.wrapper-header{
    width: 100%;
    display: grid;
    grid-template-columns: 1fr 2fr auto;
    grid-template-areas: "a b c";
    align-items: center;
}

.wrapper-logo{
    margin-right: auto;
}

.nav-logo{
    font-size: 1em;
}

nav{
    justify-self: end;
}

.nav-links{
    list-style: none;
}

.nav-links li{
    display: inline-block;
    padding: 0px 69px 0px 0px;
}

.nav-links li a{
    color: black;
    font-weight: 500;
    border-top: 3px solid transparent;
    padding-top: 43px;
}

.nav-links li a:hover{
    color:#0065FC;
    border-top: 3px solid #0065FC;
}

.nav-subscibe{
    color: #0065FC;
}

@media all and (max-width:890px){
    .wrapper-header{
        grid-template-columns: 1fr 1fr;
        grid-template-rows: 1fr 1fr;
        grid-template-areas: "a c"
                             "b b";
    }
    header{
        padding: 50px 20px 48px 15px;
    }
    nav{
        grid-row: 2;
        grid-column: 1 / span 2;
        display: flex;
        justify-self: center;
    }
    .wrapper-logo{
        padding-left: 10px;
    }
    .nav-links{
        display: flex;
    }
    .nav-subscribe{
        grid-column: 2;
        grid-row: 1;
        justify-self: end;
    }
    .nav-links li a{
        border-top: none;
    }
    .nav-links li a:hover{
        border-top: none;
    }
}

@media all and (max-width:475px){
    .nav-link-accomodations{
        padding: 43px 53px 15px 50%;
        margin-left: -30px;
        border-bottom: 3px solid #F2F2F2;
    }
    .nav-link-accomodations:hover{
        border-bottom:3px solid #0065FC;
    }
    .nav-link-activities{
        padding: 43px 100% 15px 40px;
        margin-right: 28px;
        border-bottom: 3px solid #F2F2F2;
    }
    .nav-link-activities:hover{
        border-bottom:3px solid #0065FC;
    }
}

/*-----------------------------SEARCH-----------------------------------*/

.wrapper-content{
    max-width: 1440px;
}

h1{
    font-size: 21px;
    line-height: 1em;
    margin-top: 0;
}

.main-title{
    padding-left: 54px;
}

.main-subtitle{
    line-height: 0.5em;
    margin-bottom: 25px;
}

.wrapper-search{
    padding-left: 52px;
}

form{
    display: flex;
    margin-top: 20px;
}

.fa-map-marker-alt{
    display: block;
    background-color:#F2F2F2;
    border-bottom-left-radius: 15px;
    border-top-left-radius: 15px;
    padding: 17px 19px;
    cursor: pointer;
}

input{
    font-family: inherit;
    width: 217px;
    padding: 8px;
    border-style: solid none solid none;
    border-color: #F2F2F2;
}
 input::placeholder{
    color: black;
    opacity: 1;
    font-weight: bold;
    font-size: 1em;
}

 .btn-search_desktop{ 
    color: white;
    background-color: #0065FC;
    font-weight: bold;
    font-family: inherit;
    font-size: 1em;
    padding: 10px;
    border-color: transparent;
    border-bottom-right-radius: 15px;
    border-top-right-radius: 15px;
    text-decoration: none;
    cursor: pointer;
    width: 121px;
    letter-spacing: 0.5px;
    border-left: none;
}

.btn-search_mobile{
    color: white;
    background-color: #0065FC;
    font-weight: bold;
    font-family: inherit;
    font-size: 1em;
    padding: 10px 15px;
    margin-left: -10px;
    border-color: transparent;
    text-decoration: none;
    cursor: pointer;
    display: none;
}

@media all and (max-width:475px){
    .main-title{
        padding: 0 45px 0 26px;
    }
    .main-title h1{
        font-size: 20px;
    }
    .main-subtitle{
        font-size: 15px;
    }
    .wrapper-search{
        padding-left: 26px;
    }
    form{
        height: 53px;
    }
    input{
        padding-left: 15px;
        width: 238px;
    }
    input::placeholder{
        font-size: 1.4em;
    }
    .btn-search_desktop{
        display: none;
    }
    .btn-search_mobile{
        display: inline-block;
        border-radius: 15px;
    }
}

/*-----------------------------FILTERS-----------------------------------*/


.section-filters{
    margin-top: 20px;
}

.wrapper-filters{
    display: flex;
    align-items: center;
    margin-bottom: 20px;
    padding-left: 60px;
}

@media all and (max-width:930px){
    .wrapper-filters{
        flex-wrap: wrap;
    }
}

.title-filters{
    margin: 0 30px 10px 0;
}

.btn-filters{
    margin: 0 15px 10px 15px;
    cursor: pointer;
    font-family: inherit;
    font-weight: bold;
    font-size: 1em;
    text-transform: capitalize;
    background-color: white;
    border: 2px solid lightgray;
    border-radius: 50px;
    height: 45px;
    padding-right: 12px;
    transition: all 300ms ease-in;
}
.text-filters{
    text-transform: lowercase;
}

.btn-filters:hover{
    color: white;
    background-color: #0065FC;
    border: 2px solid transparent;
}

.fa-money-bill-wave, .fa-child, .fa-heart, .fa-dog{
    color: #0065FC;
    border-radius: 100px;
    background-color: #DEEBFF;
    font-size: 1.2em;
    width: 20px;
    height: 20px;
    padding: 13px;
    margin-left: -15px;
    margin-right: 8px;
    margin-top: -2px;
}

.icon-info{
    width: 25px;
    height: 25px;
    margin-left: 56px;
    background-color: white;
    border-radius: 50px;
    border: 1px solid #F2F2F2;
    text-align: center;
    vertical-align: middle;
    line-height: 25px;
    float: left;
    margin-right: 10px;
}

.fa-info{
    color:   #0065FC;
    line-height: inherit;
}

.text-info{
    position: relative;
    padding-top: 6px;
    font-size: 14px;
    font-weight: lighter;
}

@media all and (max-width:475px){
    .wrapper-filters{
        padding-left: 30px;
    }
    .title-filters{
        margin: 0 200px 15px 0;
    }
    .btn-filters{
        margin: 0 20px 15px 0;
    }
    .icon-info{
        margin-left: 30px;
    }
    .text-info{
        margin-right: 20px;
    }
}

/*-----------------------------HEBERGEMNTS--------------------------------*/


.section-presentation{
    padding-left: 50px;
    margin-top: 38px;
    display: flex;
}

.wrapper-accomodations{
    display: flex;
    flex-direction: column;
    flex: 0 0 auto;
    max-width: 880px;
    height: auto;
    background-color: #F2F2F2;
    border-radius: 15px;
    margin-bottom: 35px;
    margin-right: 40px;
}

h2{
    margin-top: 40px;
    padding-left: 40px;
    font-size: 21px;
    padding-bottom: 20px;
}

h2 .icon-chart{
    padding-left: 115px;
}

.grid-accomodations{
    padding-left: 30px;
    padding-right: 30px;
    margin-bottom: 5px;
    background-color: #F2F2F2;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-around;
    align-items: baseline;
}

.link-product{
    width: 245px;
    height: 200px;
    margin-bottom: 30px;
    flex: 0 0 auto;
}

.box-product{
    width: 245px;
    height: 200px;
    background-color: white;
    border-radius: 20px;
    margin-bottom: 30px;
    padding: 2px 5px 0 2px;
    box-shadow: 1px 5px 10px rgba(0, 0, 0, 0.10);
}

.box-img{
    margin: 0;
    overflow: hidden;
    display: flex;
}

.box-img.img-product{
    width: 99%;
    height: 120px;
}

.img-product{
    width: 100%;
    border: 2px solid white;
    border-top-left-radius: 20px;
    border-top-right-radius: 20px;
    margin-bottom: 5px;
}

.title-product{
    margin: 0;
    padding-left: 15px;
    padding-bottom: 5px;
}

.text-product{
    margin: 0;
    padding-left: 15px;
    color: black;
    font-size: 14px;
    padding-bottom: 5px;
}

.box-product .fa-star:first-of-type{
    padding-left: 15px;
}

.fa-star{
    color:#0065FC;
}

.icons-product.rating4 .fa-star:last-of-type{
    color: #F2F2F2;
}

.low-rates{
    padding-left: 0;
    color: #F2F2F2;
}

.wrapper-accomodations .link-viewmore{
    padding-left: 40px;
    margin-top: 0;
    color: black;
}

@media all and (max-width: 1420px){
    .section-presentation{
        flex-wrap: wrap;
    }
    .wrapper-accomodations{
        max-width: 650px;
        margin-right: auto;
        margin-left: -25px;
        padding-bottom: 15px;
    }
    .grid-accomodations{
        flex-direction: row;
    }
    a.link-product{
        flex: 0 0 35%;
    }
}

@media all and (max-width:1420px){
    .wrapper-accomodations{
        order: 2;
    }
    .wrapper-populars{
        order: 1;
    }
}

@media all and (max-width:1160px) and (min-width:474px){
    aside.wrapper-populars{
        margin-right: auto;
        margin-left: auto;
        padding: 0 65px 15px 65px;
    }
    .wrapper-accomodations{
        margin: 0 auto 0 auto;
        padding-bottom: 15px;
    }
    .section-presentation{
        padding-left: 0;
    }
}

@media all and (max-width:680px){
    .grid-accomodations{
        flex-direction: column;
    }
    .wrapper-accomodations h2{
        padding-left: 18px;
    }
}

@media all and (max-width:475px){
    .section-presentation{
        padding-left: 0;
    }
    aside.wrapper-populars{
        width: 100%;
        height: auto;
        border-radius: 0;
        margin-right: 0;
        margin-bottom: 0;
        padding-bottom: 25px;
    }
    article.box-populars{
        margin-bottom: 15px;
    }
    aside h2{
        padding-left: 20px;
    }
    .wrapper-accomodations{
        background-color: white;
        margin: 0 0 35px 0;
        width: 100%;
    }
    .wrapper-accomodations h2{
        padding-left: 20px;
    }
    .grid-accomodations{
        padding: 0;
        margin-bottom: 10px;
        background-color: white;
    }
    .wrapper-accomodations h2{
        margin-top: 30px;
        padding-bottom: 0;
    }
    a.link-product{
        margin-bottom: 15px;
        width: 100%;
    }
    .box-product{
        width: 90%;
        margin-left: 15px;
    }
    .wrapper-accomodations a.link-viewmore{
        padding-left: 20px;
    }
}

/*-----------------------------POPULAIRES---------------------------------*/


.wrapper-populars{
    width: 420px;
    height: 625px;
    flex: 0 0 auto;
    background-color: #F2F2F2;
    border-radius: 15px;
    margin-right: 50px;
    margin-bottom: 35px;
}

.grid-populars{
    margin-left: 40px;
}

.box-populars{
    position: relative;
    width: 342px;
    height: 142px;
    border-radius: 20px;
    background-color: white;
    margin: 0px auto 30px auto;
    padding: 2px 0 2px 2px;
    box-shadow: 1px 5px 10px rgba(0, 0, 0, 0.10);
}

.box-img.img-populars{
    height: 141px;
}


.img_populars{
    width: 40%;
    height: 100%;
    border: 2px solid white;
    border-top-left-radius: 20px;
    border-bottom-left-radius: 20px;
    margin-right: 15px;
}

.title-populars{
    line-height: 1em;
    margin-bottom: 0;
    margin-top: 15px;
}

.text-populars{
    color: black;
    font-size: 14px;
    line-height: 1em;
    position: absolute;
    margin-top: 60px;
    margin-left: 155px;
}

.icons-populars{
    position: absolute;
    bottom: 10px;
    margin-left: 155px;
}

.icons-populars.rating4 .fa-star:last-of-type{
    color: #F2F2F2;
}

/*-----------------------------ACTIVITES-----------------------------------*/

.section-activities{
    width: auto;
    margin-left: 50px;
    margin-right: 75px;
    margin-top: 35px;
    padding-bottom: 35px;
    height: auto;
    background-color: white;
}

.link-activities{
    width: 300px;
    margin-right: 40px;
    margin-bottom: 0;
}

.grid-activities{
    width: auto;
    height: auto;
    display: flex;
    flex-wrap: wrap;
    margin-right: -50px;
}

.box-activities{
    width: 300px;
}

.box-img{
    border-radius: 20px;
    box-shadow: 1px 5px 10px rgba(0, 0, 0, 0.10);
}

.img-vieux-port, .img-pomegues, .img-frioul, .img-calanques,
.img-notre-dame, .img-longchamp{
    width: 100%;
    border-top-left-radius: 20px;
    border-top-right-radius: 20px;
}

.box-vieux-port{
    height: 70%;
    margin-right: 40px;
}

.box-activities .img-activities{
    width: 100%;
}

.img-vieux-port{
    height: auto;
    padding-bottom: 60px;
}

.box-pomegues{
    height: 35%;
    margin-bottom: 45px;
    margin-right: 40px;
}

.img-pomegues{
    height: auto;
    padding-bottom: 60px;
}

.box-frioul{
    height: 29%;
    margin-top: 45px;
}

.img-frioul{
    height: auto;
    padding-bottom: 60px;
}

.box-calanques{
    height: 70%;
    margin-right: 40px;
}

.img-calanques{
    height: auto;
    padding-bottom: 60px;
}

.box-notre-dame{
    height: 30%;
    margin-bottom: 40px;
}

.img-notre-dame{
    height: auto;
    padding-bottom: 60px;
}

.box-longchamp{
    height: 34%;
    margin-top: 40px;
}

.img-longchamp{
    height: auto;
    padding-bottom: 60px;
}

.box-vieux-port > figure{
    height: 571px;
}

.box-pomegues > figure{
    height: 285px;
}

.box-frioul > figure{
    height: 236px;
}

.box-calanques > figure{
    height: 571px;
}

.box-notre-dame > figure{
    height: 244px;
}

.box-longchamp > figure{
    height: 277px;
}

.title-activities{
    padding-left: 20px;
    margin-top: -35px;
}

.box-frioul .title-activities{
    margin-top: -32px;
}

.box-longchamp .title-activities{
    margin-top: -30px;
}

@media all and (max-width:1420px) and (min-width:775px){
    .section-activities h2{
        text-align: center;
    }
    a.link-activities{
        flex: 0 0 35%;
        margin-left: auto;
    }
    .wrapper-activities-left{
        margin-right: auto;
    }
    .wrapper-activities-right{
        margin-right: auto;
        padding-right: 30px;
    }
}

@media all and (max-width:774px) and (min-width:476px){
    .link-activities:first-of-type{
        margin-bottom: 35px;
    }
    .grid-activities a:last-of-type{
        margin-top: -30px;
        margin-bottom: 35px;
    }
    .wrapper-activities-right{
        padding-right: 40px;
    }
}

@media all and (max-width:475px){
    .section-activities{
        margin: -45px 0 0 15px;
    }
    .section-activities h2{
        padding: 0 0 10px 5px;
    }
    .wrapper-activities-left{
        display: flex;
        flex-direction: column;
        margin: 20px 0 65px 0;
    }
    .wrapper-activities-left a:last-of-type{
        margin-top: -25px;
    }
    .wrapper-activities-right{
        display: flex;
        flex-direction: column;
        margin-top: 20px;
    }
    .wrapper-activities-right a:last-of-type{
        margin-top: -20px;
    }
    a.link-activities{
        width: 83%;
        height: 200px;
    }
    .box-activities{
        width: 100%;
    }
    .grid-activities figure:nth-of-type(1){
        height: 200px;
        width: 100%;
    }
}

/*-----------------------------FOOTER-----------------------------------*/

footer{
    width: 100%;
    height: auto;
    background-color: #F2F2F2;
    margin-top: -45px;
    padding-bottom: 30px;
    display: flex;
}

 .footer-links-left{
    display: flex;
    flex-direction: column;
    padding-left: 50px;
    padding-right: 230px;
 }

 .footer-links-middle{
    display: flex;
    flex-direction: column;
    padding-right: 280px;
 }

 .footer-links-right{
    display: flex;
    flex-direction: column;
 }

 footer a{
     color: black;
     font-size: 16px;
     font-weight: 500;
     padding-bottom: 10px;
 }

 h5{
    font-size: 18px;
    margin-top: 50px;
 }

 @media all and (max-width: 1120px){
     footer{
        margin: -50px 0 30px 0;
        justify-content: space-between;
     }
     .footer-links-left{
        padding-right: 10%;
     }
     .footer-links-middle{
        padding-right: 10%;
     }
     .footer-links-right{
        padding-right: 5%;
     }
 }

 @media all and (max-width: 530px){
     footer{
         flex-direction: column;
         margin: 50px 0 30px 0 ;
     }
     .footer-links-left{
        padding-left: 30px;
     }
     .footer-links-middle{
         padding-left: 30px;
     }
     .footer-links-right{
         padding-left: 30px;
         padding-bottom: 30px;
     }
     h5{
         margin-bottom: 25px;
     }
     footer a{
         line-height: 1.6em;
     }

 }